@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500&display=swap");

@import "tailwindcss";

@layer base {
  body {
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.6s ease-out;
}